/**
 * Created by hexiaohao on 2016/12/5.
 * Modified by Dash Chen on 2017/06.
 */

/*公用定义*/
@charset "utf-8";
*{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}/*取消链接点击的时候变蓝*/
*:focus{outline:none;}
input,select,textarea{ font-size:24px;line-height:normal;-webkit-appearance:none;}
html {height: 100%;}
body {margin:0px;font-size:24px;font-family:'Arial';color:#777;-webkit-text-size-adjust:none;-ms-text-size-adjust:none; background:#fff;}
a {text-decoration: none;	color: #777;}
img {vertical-align:middle;}
ul,li,tr,td{list-style-type: none;margin: 0px;padding: 0px;}
li{ overflow:hidden;}
a img{text-decoration: none;margin: 0px;padding: 0px;border:none;}
span, p{vertical-align:middle; margin:0;}
.f{ float:left; overflow:hidden;}
.r{ float:right; overflow:hidden;}
.bai,.bai a{ color:#FFFFFF;}
.hong,.hong a{ color:#ff0000;}
.zi,.zi a{ color:#89285a;}
.huang,.huang a{ color:#ff6a00;}
.lan,.lan a{ color:#2293d1;}
.lv,.lv a{ color:#2293d1;}
.hui,.hui a{color:#bdbdbd;}
.blk,.blk a{color:#222;}
.blk2,.blk2 a{color:#333;}
.top2 { padding-top: 100px }
.mgz{ margin-left:auto; margin-right:auto; overflow:hidden; width:640px;}
.mg{ margin-left:auto; margin-right:auto; overflow:hidden; width:590px;}
.mg2{ margin-left:auto; margin-right:auto; overflow:hidden;}
.cen{ text-align:center;}
.clearfix::after { content: ""; clear: both; display: block; }

.xi12{ font-size:12px;}
.xi13{ font-size:13px;}
.xi14{ font-size:14px;}
.xi15{ font-size:15px;}
.xi16{ font-size:16px;}
.xi17{ font-size:17px;}
.xi18{ font-size:18px;}
.xi19{ font-size:19px;}
.xi20{ font-size:20px;}
.xi21{ font-size:21px;}
.xi22{ font-size:22px;}
.xi23{ font-size:23px;}
.xi24{ font-size:24px;}
.xi25{ font-size:25px;}
.xi26{ font-size:26px;}
.xi27{ font-size:27px;}
.xi28{ font-size:28px;}
.xi29{ font-size:29px;}
.xi30{ font-size:30px;}
.xi31{ font-size:31px;}
.xi32{ font-size:32px;}
.xi33{ font-size:33px;}
.xi34{ font-size:34px;}
.xi35{ font-size:35px;}
.xi36{ font-size:36px;}
.xi37{ font-size:37px;}
.xi38{ font-size:38px;}
.xi39{ font-size:39px;}
.xi40{ font-size:40px;}
.xi46{ font-size:46px;}
.xi50{ font-size:50px;}
.xi52{ font-size:52px;}
.xi59{ font-size:59px;}
.xi60{ font-size:60px;}
.cu{font-weight:bold;}
.xi{font-weight:lighter;}
/*样式*/
.head{ width:100%; height:100px; position:fixed; color:#ff6a00; font-size:40px; border-bottom:1px solid #ccc; text-align:center; line-height:100px; background-color:#fff; z-index:9; }
.head2nav{ position:fixed; padding:26px; left:0; z-index:10; }
.head2{ width:100%; height:270px; position:relative; }
.head2bg{ height:100%; }
.head2bg2{ width: 100%; height: 350px; background: url(../images/detail/club_bg.png) center center no-repeat; background-size: cover; position:relative; }
.head2bg2:after { content: ''; position: absolute; top: 0; right: 0; bottom: -1px; left: 0; background-image: linear-gradient(to bottom, rgba(255,0,0,0), #fff); }
.an1{ width:100%; padding:0; margin:0; border:none;}
.logins{ width:100%; min-height:600px; margin:auto; }
.loginx{ width:100%;}
.loginxs{ width:595px; height:77px; background:#f8f8f8; margin:10px auto;}
.bd1::-webkit-input-placeholder{color:#bdbdbd;}
.bd2::-webkit-input-placeholder{color:#bdbdbd;}
.bd1{ width:478px; margin:0; padding:0; border:none; background:url(../images/login/uname.png) 0 center no-repeat; padding-right:35px; text-align:right; height:77px;}
.bd2{ width:478px; margin:0; padding:0; border:none; background:url(../images/login/passwd.png) 0 center no-repeat; padding-right:35px; text-align:right; height:77px;}
.loginxx{ line-height:40px; height:120px;}
.loginsx{ line-height:40px; height:40px; margin-top:100px;}
.menu{ position:fixed; left:50%; top:0; margin-left:-320px; z-index:9;}
.newbtn { position:fixed; bottom:30px; background-color:#fec22c; left:0; right:0; margin:0 auto; padding: 0 40px; width:240px; height:90px; line-height:90px; border-radius:45px; z-index:9; }
.newbtn span { color:#fff; font-size:35px; }
.newbtn img { float:left; padding:28px 0; margin-right:10px; }
.newbtn a span, .newbtn2 span { float:left; }
.newbtn2 { width:200px; height:60px; line-height:60px; border:2px solid #ff6a00; border-radius:30px; padding:0 40px; margin: 20px auto; }
.newbtn2 img {float:left; padding:13px 0; margin-right:10px; }
.newbtn3 { display:block;float:left; width:calc(50% - 104px); height:60px; line-height:60px; border:2px solid; border-radius:2px; padding:0 40px; margin: 20px 10px; }
select::-ms-expand { display: none;}
.dh_tc{ overflow-x:hidden; overflow-y:auto; position:fixed; left:-550px; top:0; width:500px; height:100%; background:#fff; z-index:9999999;box-shadow:0px 0px 35px #353535;}
.dh_tc_search_bd1{ width:430px; height:54px; border:none; padding:0; margin:42px 0 14px 18px; background:#f8f8f8 url(../images/menu_03.png) no-repeat;border-radius:5px; text-indent:57px;}
.dh_tc_user{ padding-top:50px; border-bottom:1px solid #e3e3e3;}
.dh_tc_nav{ height:100px; border-bottom:1px solid #e3e3e3;}
.dh_tc_navl{ float:left; padding:25px; }
.dh_tc_navr{ line-height:100px; height:100px;}
.dh_tc_zw{ height:36px; background:#303030;}
.close{ position:fixed; left:50%; top:0; margin-left:220px; display:none;}
.success{ position:fixed; left:50%; top:50%; margin:-140px 0 0 -190px; width:380px; height:280px;border-radius:5px; background:#e4d9e1;}
.success2{ line-height:38px; height:38px;}
.success3{ line-height:18px; height:54px;}
.success4{ line-height:35px; height:35px; width:138px;border-radius:5px; background:#831c51;}
.list1{ width:572px; line-height:76px; height:76px;}
.list2{ width:100%; height:150px; background-color:#fff; margin-bottom:15px; }
.list2icon{ float: left; height:60px; padding: 45px 20px; }
.list2poster { float: left; height:100%; width:190px; }
.list2poster img { height:100%; width:190px; }
.list2content{ padding: 20px 0;float:left;width:calc(100% - 100px);}
.list2content2{ padding: 15px 0 15px 15px;float:left;width:calc(100% - 205px);position:relative;height:calc(100% - 30px);}
.list2type{ background-color:#ff9950; color:#fff; border-radius:10px;padding:5px 10px!important; }
.list2major{ background-color:#8fe8ca; color:#fff; border-radius:10px;padding:5px 10px!important; }
.list2fix{ position:absolute; right:20px; top:15px; text-align:right; }
.list2s{ line-height:20px; height:20px;}
.list2c{ line-height:30px; height:40px;}
.list2xl,.list2xr{ margin-top:13px; width:140px; height:33px; line-height:33px;}
.list2xr{ text-align:right;}
.list2xb{ line-height:30px; height:40px;width:100%;}
.list2xc{ line-height:30px; height:30px;margin-right:10px;padding:5px 0;}
.list2xc img { float:left; padding:0px; }
.edit1s{ width:218px; height:218px; margin-top:75px;border-radius:50%;}
.edit1x{ position:relative; z-index:2; margin-top:-38px; margin-bottom:19px;}
.edit2{ width:402px; padding-left:30px; border-bottom:1px solid #7b7b7b; height:46px; line-height:46px;}
.edit3{ width:402px; padding-left:30px; height:30px; line-height:30px;}
.edit_bd1{ border:none; padding:0; margin:0; background:none; width:400px; height:46px;}
.edit2 ul li{ float:left;}
.regular-radio {display: none;}
.regular-radio + label {
margin:15px 10px 0 60px;
-webkit-appearance: none;
background-color: #fff;
width:19px;
height:19px;
border-radius:50%;
background:url(../images/profile-edit_10.png);
display: inline-block;
position: relative;
}

.regular-radio:checked + label:after {
content: ' ';
width:19px;
height:19px;
border-radius:50%;
position: absolute;
top:0px;
background:url(../images/profile-edit_13.png);
text-shadow: 0px;
left:0px;
}
.bd1_3{ width:402px; height:48px; border:none; text-indent:0px; padding:0; margin:0 0 0 -3px;
appearance:none;
-moz-appearance:none;
-webkit-appearance:none;
background:url(../images/profile-edit_18.png) no-repeat scroll right center transparent;color: #2b2b2b;}
.edit4{ padding:30px 0 25px 0;}
.list3zw{ height:110px;}
.list3{ position:fixed; bottom:0; left:0; width:100%; overflow:hidden;}
.mengban{ display:none; height:100%; position:fixed; z-index:99; left:0; top:0; width:100%;}
.zw60{ height:60px;}
.profile1{ text-align:right;}
/*选项卡1*/
/*菜单class*/
.lib_Menubox { height:70px;width:90%;position:relative;display:table;table-layout:fixed;color:#ff6a00;text-align:center;margin:30px auto;border:1px solid #ff6a00;border-radius:35px;}
.lib_Menubox p:first-child{border-top-left-radius:35px; border-bottom-left-radius:35px;}
.lib_Menubox p:last-child{border-top-right-radius:35px; border-bottom-right-radius:35px;}
.lib_Menubox p{ border:1px solid #ff6a00;display:table-cell;cursor:pointer;line-height:70px;}
.lib_Menubox .hover{background:#ff6a00;color:#fff}
.lib_Contentbox{clear:both; background-color:#f2f2f2; padding:20px 15px 0 15px;}
.list4{ width:544px; height:185px; border:1px solid #fff;border-radius:8px; margin-bottom:20px;}
.list4:hover{ box-shadow:0px 0px 8px #fff;}
.list4s{ line-height:58px; height:58px;}
.list4c{ line-height:28px; height:72px;}
.list4x ul li{ width:112px; height:34px; border:1px solid #fff;border-radius:5px; margin:0 9px 0 106px; float:left; line-height:32px;}
.profilev2title{ line-height:50px; width:100%; margin-bottom:20px; background-color:#fff; padding-bottom:20px; }
.profilev2icon{ border-radius:80px;border:1px solid #e3e3e3;width:160px; height:160px; position:absolute; top:190px; left:calc(50% - 80px);}
.profilev2sex{ width:40px; height:40px; position:absolute; top:310px; left:calc(50% + 40px);}
.profilev2t{ padding:35px; font-size:42px; }
.profilev2t2{ padding: 0px; position: absolute; left: 20%; width: 60%; top: 300px; font-size:42px; }
.profilev2tl{ margin:0 20px 0 35px;}
.profilev2tl img{ width:90px; height:90px; border:1px solid #e3e3e3; border-radius:50%; }
.profilev2tr{ line-height:50px; }
.profilev2c{ padding:0px 0px; background-color:#fff; margin-bottom:20px; }
.profilev2ch{ height:100px; line-height:100px; padding:0px 20px; border-bottom:1px solid #e3e3e3; }
.profilev2cb{ padding:0 30px; min-height:90px; }
.profilev2cbx{ padding:20px 0; line-height:50px; min-height:50px;}
.profilev2list{ padding:30px; }
.profilev2listi{ width:25%; margin-bottom:30px; }
.profilev2listl { }
.profilev2listl img{ width:110px; height:110px; border:1px solid #e3e3e3; border-radius:50%; }
.profilev2listr{ line-height:40px; height:40px;}
/*选项卡2*/
/*菜单class*/
.lib_Menubox2{ width:100%; height:120px;position:relative; overflow-x:auto; overflow-y:hidden;padding:30px 5px;}
.lib_Menubox2 ul{list-style:none; position:absolute; width:980px; }
.lib_Menubox2 li{float:left;display:block;cursor:pointer;width:84px;height:120px; line-height:30px;}
.lib_Menubox2 li.hover{}
.lib_Menubox2 li img{ width:70px; height:70px;border-radius:50%;border:1px solid #fff;margin-bottom:10px; }
.lib_Menubox2 li.hover img{ border:1px solid #ff6a00;}
.lib_Menubox2 li.hover { color: #ff6a00;}
/*选项卡3*/
/*菜单class*/
.lib_Sheet { padding:30px; color:#333; }
.input_s { width:100%; height:90px; background-color:#f4f4f4; border:1px solid #e0e0e0; border-radius:1px; margin-bottom:25px; position:relative }
.input_s:focus { border-color:#999; }
.clubv2s{ width:120px; height:calc(100% - 30px); line-height:60px; float:left; padding:15px; }
.clubv2x{ width:calc(100% - 180px); height:calc(100% - 30px); line-height:60px; float:left; padding:15px; }
.clubv2e{ width:120px; height:calc(100% - 30px); line-height:60px; position:absolute; right:0px; padding:15px 0; color:#ff6a00; }
.clubv2b{ width:80%; height:60px; line-height:60px; background-color:#ff6a00; border-radius:45px; }
.clubv2_bd1{ width:100%; line-height:60px; border:none; padding:0; margin:0; background:none; font-family: inherit;}
.clubv2_bd2{ width:100%; height:100%; border:none; padding:0; margin:0; background:none; font-family: inherit; resize:none;}
.clubv2_an1{ background:#934c6f;border-radius:5px; width:192px; height:42px; border:none; padding:0; margin:0;}
.clubv2_an2{ background:#934c6f;border-radius:5px; width:330px; height:54px; border:none; padding:0; margin:0 0 18px 0;}
.bd1_2{ font-family: inherit; width: 50px; float: left; line-height: 60px; border: none; background: none;}
.maohao{ padding:0 15px; float:left; }
.bd1_1{ font-family: inherit; width: 100%; float: left; line-height: 60px; border: none; background: none;}
input::-webkit-datetime-edit-year-field:not([aria-valuenow]),
input::-webkit-datetime-edit-month-field:not([aria-valuenow]),
input::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}

/*static页面*/
.static_m{ width: 100%; line-height: 40px; text-align: center; margin: auto; position: absolute; top: 40%; }
.medal_btn{ position: absolute; line-height: 100px; width: 500px; height: 100px; top: 550px; left: calc(50% - 250px); color: #fff; font-size: 50px; background-image: url(/static/images/detail/medal_btn.png);}
.medal_num{ position: absolute; width: 100%; top: 300px; color: #ff6a00; font-size: 70px;}

[v-cloak] {
  display: none;
}
