/*公用定义*/
@charset "utf-8";
*{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}/*取消链接点击的时候变蓝*/
*:focus{outline:none;}
input,select,textarea{ line-height:normal;-webkit-appearance:none;}
input,select,textarea,div{FONT-FAMILY:'Microsoft YaHei';font-size:24px;}
html {height: 100%;}
body {margin:0px;font-size:24px; color:#2b2b2b;-webkit-text-size-adjust:none;-ms-text-size-adjust:none; background:radial-gradient(#8b4a75,#4b2a4f);}
a {	text-decoration: none;	color: #2b2b2b;}
a:hover {text-decoration: none;color: #cc0000;}
ul,li,tr,td{list-style-type: none;margin: 0px;padding: 0px;}
li{ overflow:hidden;}
a img{text-decoration: none;margin: 0px;padding: 0px;border:none;}
.f{ float:left; overflow:hidden;}
.r{ float:right; overflow:hidden;}
.bai,.bai a{ color:#FFFFFF;}
.hong,.hong a{ color:#ff0000;}
.zi,.zi a{ color:#89285a;}
.huang,.huang a{ color:#ff8162;}
.lan,.lan a{ color:#2293d1;}
.lv,.lv a{ color:#2293d1;}
.hui,.hui a{color:#909090;}
.mgz{ margin-left:auto; margin-right:auto; overflow:hidden; width:640px;}
.mg{ margin-left:auto; margin-right:auto; overflow:hidden; width:590px;}
.mg2{ margin-left:auto; margin-right:auto; overflow:hidden;}
.cen{ text-align:center;}

.xi12{ font-size:12px;}
.xi13{ font-size:13px;}
.xi14{ font-size:14px;}
.xi15{ font-size:15px;}
.xi16{ font-size:16px;}
.xi17{ font-size:17px;}
.xi18{ font-size:18px;}
.xi19{ font-size:19px;}
.xi20{ font-size:20px;}
.xi21{ font-size:21px;}
.xi22{ font-size:22px;}
.xi23{ font-size:23px;}
.xi24{ font-size:24px;}
.xi25{ font-size:25px;}
.xi26{ font-size:26px;}
.xi27{ font-size:27px;}
.xi28{ font-size:28px;}
.xi29{ font-size:29px;}
.xi30{ font-size:30px;}
.xi31{ font-size:31px;}
.xi32{ font-size:32px;}
.xi33{ font-size:33px;}
.xi34{ font-size:34px;}
.xi35{ font-size:35px;}
.xi36{ font-size:36px;}
.xi37{ font-size:37px;}
.xi38{ font-size:38px;}
.xi39{ font-size:39px;}
.xi40{ font-size:40px;}
.xi46{ font-size:46px;}
.xi50{ font-size:50px;}
.xi52{ font-size:52px;}
.xi59{ font-size:59px;}
.xi60{ font-size:60px;}
.cu{font-weight:bold;}
.xi{font-weight:lighter;}
/*样式*/
.an1{ width:290px; height:290px; padding:0; margin:0; border:none; background:url(../images/Login_03_new.png);}
.logins{ position:fixed; left:50%; top:22%; width:640px; margin-left:-320px;}
.loginx{ position:fixed; bottom:0; left:0; width:100%;}
.loginxs{ width:595px; height:77px; background:#944c6f; margin-bottom:16px;border-radius:77px;}
.bd1::-webkit-input-placeholder{color:#fff3cf;}
.bd2::-webkit-input-placeholder{color:#fff3cf;}
.bd1{ width:478px; margin:0; padding:0; border:none; background:url(../images/Login_07.png) 0 center no-repeat; padding-right:35px; text-align:right; height:77px;}
.bd2{ width:478px; margin:0; padding:0; border:none; background:url(../images/Login_10.png) 0 center no-repeat; padding-right:35px; text-align:right; height:77px;}
.loginxx{ line-height:40px; height:120px;}
.loginsx{ line-height:40px; height:40px;}
.menu{ position:fixed; left:50%; top:0; margin-left:-320px; z-index:9;}
.clubv2s{ width:436px; line-height:40px; height:40px;}
.clubv2x{ padding-bottom:18px;}
.clubv2_bd1{ width:436px; height:43px; border:2px solid #fff; padding:0; margin:0; text-indent:13px; background:none; color:#fff;}
.bd1_1{ width:438px; height:45px; border:2px solid #fff; text-indent:11px; padding:0; margin:0 auto;
appearance:none;
-moz-appearance:none;
-webkit-appearance:none;
background:url(../images/activity-club-V2_06.png) no-repeat scroll right center transparent;}
select::-ms-expand { display: none;}
.clubv2_bd2{ width:410px; height:130px; line-height:28px; border:2px solid #fff; padding:5px 13px; margin:0; background:none; color:#fff;}
.clubv2_an1{ background:#934c6f;border-radius:5px; width:192px; height:42px; border:none; padding:0; margin:0;}
.clubv2_an2{ background:#934c6f;border-radius:5px; width:330px; height:54px; border:none; padding:0; margin:0 0 18px 0;}
.dh_tc{ overflow-x:hidden; overflow-y:auto; position:fixed; left:-520px; top:0; width:470px; height:100%; background:#353535; z-index:9999999;box-shadow:0px 0px 35px #353535;}
.dh_tc_search_bd1{ width:430px; height:54px; border:none; padding:0; margin:42px 0 14px 18px; background:#f8f8f8 url(../images/menu_03.png) no-repeat;border-radius:5px; text-indent:57px;}
.dh_tc_nav{ height:75px; border-bottom:2px solid #303030;}
.dh_tc_nav:hover{ background:#831c51;}
.dh_tc_navl{ width:45px; height:45px;border-radius:50%; margin:14px 17px 0 21px;}
.dh_tc_navr{ line-height:75px; height:75px;}
.dh_tc_zw{ height:36px; background:#303030;}
.close{ position:fixed; left:50%; top:0; margin-left:220px; display:none;}
.success{ position:fixed; left:50%; top:50%; margin:-140px 0 0 -190px; width:380px; height:280px;border-radius:5px; background:#e4d9e1;}
.success2{ line-height:38px; height:38px;}
.success3{ line-height:18px; height:54px;}
.success4{ line-height:35px; height:35px; width:138px;border-radius:5px; background:#831c51;}
.bd1_2{ width:204px; height:45px; border:2px solid #fff; text-indent:11px; padding:0; margin:0 0 0 0;
appearance:none;
-moz-appearance:none;
-webkit-appearance:none;
background:url(../images/activity-club-V2_06.png) no-repeat scroll right center transparent;}
.maohao{ padding:0 4px;}
.list1{ width:572px; line-height:76px; height:76px;}
.list2{ width:544px; height:100px; border-bottom:1px solid #fff;}
.list2:hover{border-radius:8px; border:1px solid #fff;box-shadow:0px 0px 8px #fff;}
.list2s{ line-height:20px; height:20px;}
.list2c{ line-height:30px; height:30px;}
.list2xl,.list2xr{ margin-top:13px; width:140px; height:33px; line-height:33px;}
.list2xr{ text-align:right;}
.list2xc{ width:264px; padding-top:4px; line-height:20px; height:40px;}
.edit1s{ width:218px; height:218px; margin-top:75px;border-radius:50%;}
.edit1x{ position:relative; z-index:2; margin-top:-38px; margin-bottom:19px;}
.edit2{ width:402px; padding-left:30px; border-bottom:1px solid #7b7b7b; height:46px; line-height:46px;}
.edit3{ width:402px; padding-left:30px; height:30px; line-height:30px;}
.edit_bd1{ border:none; padding:0; margin:0; background:none; width:400px; height:46px;}
.edit2 ul li{ float:left;}
.regular-radio {display: none;}
.regular-radio + label {
margin:15px 10px 0 60px;
-webkit-appearance: none;
background-color: #fff;
width:19px;
height:19px;
border-radius:50%;
background:url(../images/profile-edit_10.png);
display: inline-block;
position: relative;
}

.regular-radio:checked + label:after {
content: ' ';
width:19px;
height:19px;
border-radius:50%;
position: absolute;
top:0px;
background:url(../images/profile-edit_13.png);
text-shadow: 0px;
left:0px;
}
.bd1_3{ width:402px; height:48px; border:none; text-indent:0px; padding:0; margin:0 0 0 -3px;
appearance:none;
-moz-appearance:none;
-webkit-appearance:none;
background:url(../images/profile-edit_18.png) no-repeat scroll right center transparent;color: #2b2b2b;}
.edit4{ padding:30px 0 25px 0;}
.list3zw{ height:110px;}
.list3{ position:fixed; bottom:0; left:0; width:100%; overflow:hidden;}
.mengban{ display:none; height:100%; position:fixed; z-index:99; left:0; top:0; width:100%;}
.zw60{ height:60px;}
.profile1{ text-align:right;}
/*选项卡1*/
/*菜单class*/
.lib_tabborder{border:0;}
.lib_Menubox {height:122px;position:relative;}
.lib_Menubox ul{ height:122px;text-align:center;margin:0px;padding:0px;list-style:none; position:absolute; top:0px; left:62px;}
.lib_Menubox li{float:left;display:block;cursor:pointer;width:145px;height:78px;line-height:78px; border:3px solid #fff;border-radius:78px; margin-right:31px;}
.lib_Menubox li.hover{background:#956789;}
.lib_Contentbox{clear:both;margin-top:0px; border-top:none;}
.list4{ width:544px; height:185px; border:1px solid #fff;border-radius:8px; margin-bottom:20px;}
.list4:hover{ box-shadow:0px 0px 8px #fff;}
.list4s{ line-height:58px; height:58px;}
.list4c{ line-height:28px; height:72px;}
.list4x ul li{ width:112px; height:34px; border:1px solid #fff;border-radius:5px; margin:0 9px 0 106px; float:left; line-height:32px;}
.profilev2_title{ line-height:75px; height:75px; text-align:right; width:590px;}
.profilev2s{ width:550px; height:550px; border:18px solid #831c51;border-radius:50%; margin-bottom:30px;}
.profilev2ss{ font-size:255px; height:386px; line-height:386px; padding-top:82px;font-family:Conv_MavenProLight-100;}
.profilev2sx{ height:26px; line-height:26px;}
@font-face{font-family:Conv_MavenProLight-100;src:url(../fonts/MavenProLight-100.eot);src:local('☺'),url(../fonts/MavenProLight-100.woff) format('woff'),url(../fonts/MavenProLight-100.ttf) format('truetype'),url(../fonts/MavenProLight-100.svg) format('svg');}
.profilev2c{ height:230px;}
.profilev2cl{ width:200px; height:200px; margin-right:25px;border-radius:50%;}
.profilev2crx{ line-height:22px; height:22px; border-bottom:1px solid #f0f0f0;}
.profilev2crs{ line-height:60px; height:60px; padding-top:5px;}
.profilev2crs span{ padding-right:15px;}
.profilev2x{ margin-bottom:35px; line-height:52px; height:54px; background:#89285a;border-radius:5px;}
.details1{ padding-top:35px; position:relative; z-index:2; margin-bottom:-30px;}
.details1l{ width:85px; height:85px; border:3px solid #fff;border-radius:50%; margin:11px 14px 0 28px;}
.details1l img{ width:85px; height:85px;border-radius:50%; overflow:hidden;}
.details2{ position:relative;}
.details2s{ position:absolute; right:0; top:0;}
.details1rs{ line-height:46px; height:46px;}
.details1rx{ line-height:27x; height:27x;}
.details3{ padding-bottom:17px; background:url(../images/Details-club_20.png) 0 0 repeat-y;}
.details3z1l{ margin:0 10px 0 55px;}
.details3z1r{ line-height:37px; height:37px; width:510px;}
.details3z2{ padding-left:101px; line-height:54px; height:54px;}
.details3z3l{ margin-left:83px; width:19px; line-height:36px;}
.details3z3r{ height:36px; width:500px; line-height:36px;}
.details3z3r2{ height:72px; width:500px; line-height:36px;}
.details3z3r3{ height:180px; width:500px; line-height:36px;}
.details3z4{ padding-left:69px;}
.details3z4 ul li{ float:left; width:174px; margin-right:10px;}
.details3z4s{ width:144px; height:144px;border-radius:50%; margin-top:13px;}
.details3z4s:hover{box-shadow:0px 0px 15px #e8c0d7;}
.details3z4x{ line-height:44px; height:44px;}
.details3z5_list{ height:98px; margin-bottom:17px; border-bottom:1px solid #e6e6e6; width:510px; margin-left:100px; border-top:1px solid #fff; border-left:1px solid #fff;}
.details3z5{ overflow-y:auto; overflow-x:hidden; padding-top:8px; max-height:1170px;}
.details3z5_list:hover{ border:1px solid #831c51;border-radius:8px;box-shadow:0px 0px 8px #831c51;}
.details3z5_listl{ width:56px; height:56px;border-radius:50%; margin:9px 15px 0 6px;}
.details3z5_listr{ width:430px;}
.details3z5_listrs{ line-height:29px; padding-top:11px; height:29px;}
.details3z5_listrx{ line-height:22px; height:44px;}
/*选项卡2*/
/*菜单class*/
.lib_tabborder{border:0;}
.lib_Menubox2{ width:100%; height:190px;position:relative; overflow-x:auto; overflow-y:hidden;}
.lib_Menubox2 ul{margin:0px;padding:0px;list-style:none; position:absolute; top:42px; left:0; margin-left:0px; width:980px; height:130px;}
.lib_Menubox2 li{float:left;display:block;cursor:pointer;width:84px;height:125px; line-height:46px;}
.lib_Menubox2 li.hover{}
.lib_Menubox2 li img{ width:70px; height:70px;border-radius:50%; border:1px solid #fff;}
.lib_Menubox2 li.hover img{ box-shadow:0px 0px 8px #fff;}

[v-cloak] {
  display: none;
}
