<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>咚咚体育平台</title>
    <link href="/static/css/css.css" rel="stylesheet"/>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/activity-profile_control.js"></script>
</head>

<body>
    <div id="nav"></div>
    <div class="head"><img id="menu" class="head2nav" align="absmiddle" src="/static/images/menu.png" />我的运动</div>
    <div id="activity_profile" class="top2" v-cloak>
        <div id="lib_Tab1" class="mgz">
            <div class="lib_Menubox xi24">
                <p id="one1" v-on:click="leadingActivity" class="hover">我发起的运动</p>
                <p id="one2" v-on:click="joinedActivity">我参加的运动</p>
            </div>
            <div class="lib_Contentbox" style="min-height:1000px">
                <div id="con_one_1">
                    <div class="list2 mg2" v-for="activity in leadingActivities">
                        <a v-bind:href="'/Details-activity.html?id=' + activity.id">
                            <div class="list2icon"><img :src="'/static/images/ground/'+activity.type[0]+'.png'" /></div>
                            <div class="list2content">
                                <div class="list2c mg2 xi28 blk">
                                    {{ activity.name }}
                                </div>
                                <div class="list2x mg2">
                                    <div class="list2xc f xi20"><img align="absmiddle" src="/static/images/ground/address.png" />{{ activity.address }}</div>
                                    <div class="list2xc f xi20">
                                        <img src="/static/images/ground/time.png" />
                                        {{ activity.duringTime.year }}年{{ activity.duringTime.month }}月{{ activity.duringTime.day }}日 {{ activity.duringTime.shour }}:{{ ((10>activity.duringTime.sminute)?'0':'') + activity.duringTime.sminute }}-{{ ((activity.duringTime.hour + activity.duringTime.shour) >= 24)?"次日":"" }}{{ (activity.duringTime.hour + activity.duringTime.shour + (((activity.duringTime.minute + activity.duringTime.sminute)>=60)?1:0)) % 24 }}:{{ ((10>((activity.duringTime.minute + activity.duringTime.sminute)%60))?'0':'') + ((activity.duringTime.minute + activity.duringTime.sminute) % 60) }} 
                                    </div>
                                    <div class="list2xc f xi20"><img align="absmiddle" src="/static/images/ground/leader.png" />{{ activity.leader.name }}发起 </div>
                                    <div class="list2xc f xi20"><span class="huang">{{ activity.participantsSum }}</span>人已报名（人数限制{{ activity.capacity }} ）</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--间隔 -->
                <div id="con_one_2" style="display:none">
                    <div class="list2 mg2" v-for="activity in jAct">
                        <a v-bind:href="'/Details-activity.html?id=' + activity.id">
                            <div class="list2icon"><img :src="'/static/images/ground/'+activity.type[0]+'.png'" /></div>
                            <div class="list2content">
                                <div class="list2c mg2 xi28 blk">
                                    {{ activity.name }}
                                </div>
                                <div class="list2x mg2">
                                    <div class="list2xc f xi20"><img align="absmiddle" src="/static/images/ground/address.png" />{{ activity.address }}</div>
                                    <div class="list2xc f xi20">
                                        <img src="/static/images/ground/time.png" />
                                        {{ activity.duringTime.year }}年{{ activity.duringTime.month }}月{{ activity.duringTime.day }}日 {{ activity.duringTime.shour }}:{{ ((10>activity.duringTime.sminute)?'0':'') + activity.duringTime.sminute }}-{{ ((activity.duringTime.hour + activity.duringTime.shour) >= 24)?"次日":"" }}{{ (activity.duringTime.hour + activity.duringTime.shour + (((activity.duringTime.minute + activity.duringTime.sminute)>=60)?1:0)) % 24 }}:{{ ((10>((activity.duringTime.minute + activity.duringTime.sminute)%60))?'0':'') + ((activity.duringTime.minute + activity.duringTime.sminute) % 60) }} 
                                    </div>
                                    <div class="list2xc f xi20"><img align="absmiddle" src="/static/images/ground/leader.png" />{{ activity.leader.name }}发起 </div>
                                    <div class="list2xc f xi20"><span class="huang">{{ activity.participantsSum }}</span>人已报名（人数限制{{ activity.capacity }} ）</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
