<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>咚咚体育平台</title>
    <link href="/static/css/css.css" rel="stylesheet" />
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/vue.js"></script>
</head>

<body>
    <div id="nav"></div>
    <div class="head"><img id="menu" class="head2nav" align="absmiddle" src="/static/images/menu.png" />我的体育俱乐部</div>
    <div id="vue_info" class="top2" v-cloak>
        <div id="lib_Tab1" class="mgz">
            <div class="lib_Menubox xi24">
                <p id="one1" class="hover" v-on:click="dealMyClub">我的体育俱乐部</p>
                <p id="one2" v-on:click="dealManagedClub">体育俱乐部管理</p>
                <p id="one3" v-if="is_manager" v-on:click="dealPendingInfo">体育俱乐部审核</p>
            </div>
            <div class="lib_Contentbox" style="min-height:1000px;">
                <div id="con_one_1">
                    <div v-for="club in myClubs">
                        <a v-bind:href="'/Details-club.html?id=' + club.id">
                            <div class="list2 mg2">
                                <!--<div class="list2poster"><img :src="'/static/images/club/'+club.type+'.png'" /></div>-->
                                <div class="list2poster"><img src="/static/images/club/poster.png" /></div>
                                <div class="list2content2">
                                    <div class="list2c mg2 xi26 blk">{{ club.name }}</div>
                                    <div class="list2x mg2">
                                        <div class="list2xb f xi24" style="width:100%">{{ club.motto }}</div>
                                        <div class="list2xc f xi20 list2major">{{ club.major }}</div>
                                        <div class="list2xc f xi20 list2type">{{ club.type }}</div>
                                        <div class="list2xc f xi20"><img align="absmiddle" src="static/images/club/leader.png" />{{ club.leader.name }}发起 </div>
                                    </div>
                                    <div class="list2fix xi18">{{ club.scale }}人加入</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--间隔 -->
                <div id="con_one_2" style="display:none">
                    <div v-for="club in managedClubs">
                        <a v-bind:href="'/Details-club.html?id=' + club.id">
                            <div class="list2 mg2">
                                <div class="list2poster"><img src="/static/images/club/poster.png" /></div>
                                <div class="list2content2">
                                    <div class="list2c mg2 xi26 blk">{{ club.name }}</div>
                                    <div class="list2x mg2">
                                        <div class="list2xc f xi20 list2major">{{ club.major }}</div>
                                        <div class="list2xc f xi20 list2type">{{ club.type }}</div>
                                        <div class="list2xc f xi20"><img align="absmiddle" src="static/images/club/leader.png" />{{ club.leader.name }}发起 </div>
                                        <div class="list2xc f xi24" style="color:red;line-height:50px;line-height:27px;margin-top:10px;width:100%;">
                                            <img align="absmiddle" :src="'static/images/club/' + toChinese(club.state) + '.png'" />{{ toChinese(club.state) }}
                                        </div>
                                    </div>
                                    <div class="list2fix xi18">{{ club.scale }}人加入</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--间隔 -->
                <div id="con_one_3" style="display:none">
                    <div v-for="pendingInfo in pendingInfos" v-if="pendingInfo.detail != undefined && pendingInfo.applyer != undefined">
                        <div class="list4 mg2">
                            <div class="list4c">
                                <div class="list4cx mg2 xi32"><p class="l blk">申请{{ toChinese2(pendingInfo.type) }}{{ pendingInfo.detail.name }}</p></div>
                                <div class="list4cx mg2 xi24"><span class="l">院系：</span><span class="l blk2">{{ pendingInfo.detail.major }}</span></div>
                                <div class="list4cx mg2 xi24"><span class="l">负责人：</span><span class="l blk2">{{ pendingInfo.applyer.name }}，学号{{ pendingInfo.applyer.id }}，<br>邮箱{{ pendingInfo.applyer.email }}，<br>电话{{ pendingInfo.applyer.phone }}</span></div>
                                <div class="list4cx mg2 xi24"><span class="l">类别：</span><span class="l blk2">{{ pendingInfo.detail.type }}</span></div>
                                <div class="list4cx mg2 xi24"><span class="l">人数：</span><span class="l blk2">{{ pendingInfo.detail.scale }}人</span></div>
                                <div class="list4cx mg2 xi24"><span class="l">口号：</span><span class="l blk2">{{ pendingInfo.detail.motto }}</span></div>
                                <div class="list4cx mg2 xi24"><span class="l">简介：</span><span class="l blk2">{{ pendingInfo.detail.introduction }}</span></div>
                            </div>
                            <div class="list4t">
                                <p class="list4tx newbtn3 mg2 xi30 cen" v-on:click="sendDetermination(pendingInfo.id, false)">
                                    不同意
                                </p>
                                <p class="list4tx newbtn3 mg2 xi30 cen" v-on:click="sendDetermination(pendingInfo.id, true)">
                                    同意
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/club-profile_control.js"></script>
</body>

</html>
