<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no" />
	<title></title>
	<link href="/static/css/css.css" rel="stylesheet" />
	<script src="/static/js/jquery-3.1.1.min.js"></script>
	<script src="/static/js/vue.js"></script>
	<script src="/static/js/club_profile_control.js"></script>
</head>

<body>
	<div class="menu"><img align="absmiddle" src="/static/images/activity-club-V2_02.png" /></div>
	<div id="nav"></div>
	<div class="profile1 mgz"><img align="absmiddle" src="/static/images/club-profile_03.png" /></div>
	<div id="vue_info">
		<div id="lib_Tab1" class="mgz bai">
			<div class="lib_Menubox lib_tabborder">
				<ul class="xi17">
					<li id="one1" v-on:click="dealMyClub" class="hover">我的体育俱乐部</li>
					<li id="one2" v-on:click="dealManagedClub">体育俱乐部管理</li>
					<li id="one3" v-on:click="dealPendingInfo">体育俱乐部审核</li>
				</ul>
			</div>
			<div class="lib_Contentbox lib_tabborder">
				<div id="con_one_1">
					<div v-for="club in myClubs">
						<a v-bind:href="'/Details-club.html?id=' + club.id">
							<div class="list2 mg2 bai">
								<div class="list2s mg2 xi15"><img align="absmiddle" src="/static/images/activity-list_15.png" /><span class="r">{{ club.id }}</span></div>
								<div class="list2c mg2 xi25 cen">{{ club.name }}</div>
								<div class="list2x mg2">
									<div class="list2xl f xi15"><img align="absmiddle" src="/static/images/activity-list_21.png" />{{ club.leader.name }}</div>
									<div class="list2xc f xi15 cen">{{ club.motto }}<br/>{{ club.major }} {{ club.type }}</div>
									<div class="list2xr r xi15">{{ club.scale }}<img align="absmiddle" src="/static/images/activity-list_19.png" /></div>
								</div>
							</div>
						</a>
					</div>
				</div>
				<!--间隔 -->
				<div id="con_one_2" style="display:none">
					<div v-for="club in managedClubs">
						<a v-bind:href="'/Details-club.html?id=' + club.id">
							<div class="list2 mg2 bai">
								<div class="list2s mg2 xi15"><img align="absmiddle" src="/static/images/activity-list_15.png" /><span class="r">{{ club.id }}</span></div>
								<div class="list2c mg2 xi25 cen">{{ club.name }}</div>
								<div class="list2x mg2">
									<div class="list2xl f xi15"><img align="absmiddle" src="/static/images/activity-list_21.png" />{{ club.leader.name }}</div>
									<div class="list2xc f xi15 cen">{{ club.motto }}<br/>{{ club.major }} {{ club.type }}</div>
									<div class="list2xr r xi15">{{ club.scale }}<img align="absmiddle" src="/static/images/activity-list_19.png" /></div>
								</div>
							</div>
						</a>
					</div>
				</div>
				<!--间隔 -->
				<div id="con_one_3" style="display:none">
					<div v-for="pendingInfo in pendingInfos">
						<!--<div v-if="pendingInfo.type === 'createClub'">
							<div class="list4 mg2 bai cen">
								<div class="list4s mg2 xi20">{{ pendingInfo.applyName }}</div>
								<div class="list4c mg2 xi20">申请创建<a href="#">{{ pendingInfo.info.major }}{{ pendingInfo.info.clubName }}</a>俱乐部<br/></div>
								<div class="list4x mg2 xi20">
									<ul>
										<li v-on:click="sendDetermination(pendingInfo.id, true)">同&nbsp;&nbsp;&nbsp;&nbsp;意</li>
										<li v-on:click="sendDetermination(pendingInfo.id, false)">拒&nbsp;&nbsp;&nbsp;&nbsp;绝</li>
									</ul>
								</div>
							</div>
						</div>
						<div v-if="pendingInfo.type === 'joinClub'">
							<div class="list4 mg2 bai cen">
								<div class="list4s mg2 xi20">{{ pendingInfo.applyName }}</div>
								<div class="list4c mg2 xi20">申请加入<a href="#">{{ pendingInfo.info.major }}{{ pendingInfo.info.clubName }}</a>俱乐部<br/></div>
								<div class="list4x mg2 xi20">
									<ul>
										<li v-on:click="sendDetermination(pendingInfo.id, true)">同&nbsp;&nbsp;&nbsp;&nbsp;意</li>
										<li v-on:click="sendDetermination(pendingInfo.id, false)">拒&nbsp;&nbsp;&nbsp;&nbsp;绝</li>
									</ul>
								</div>
							</div>
						</div>
						<div v-if="pendingInfo.type === 'deleteClub'">
							<div class="list4 mg2 bai cen">
								<div class="list4s mg2 xi20">{{ pendingInfo.applyName }}</div>
								<div class="list4c mg2 xi20">申请删除<a href="#">{{ pendingInfo.info.major }} {{ pendingInfo.info.clubName }}</a>俱乐部<br/></div>
								<div class="list4x mg2 xi20">
									<ul>
										<li v-on:click="sendDetermination(pendingInfo.id, true)">同&nbsp;&nbsp;&nbsp;&nbsp;意</li>
										<li v-on:click="sendDetermination(pendingInfo.id, false)">拒&nbsp;&nbsp;&nbsp;&nbsp;绝</li>
									</ul>
								</div>
							</div>
						</div>-->
						<div class="list4 mg2 bai cen">
							<div class="list4s mg2 xi20">{{ pendingInfo.applyName }}</div>
							<div class="list4c mg2 xi20">申请{{ pendingInfo.type | toChinese }}<a v-bind:href="'/Details-club.html?id=' + pendingInfo.info.clubId">{{ pendingInfo.info.major }} {{ pendingInfo.info.clubName }}</a>俱乐部<br/></div>
							<div class="list4x mg2 xi20">
								<ul>
									<li v-on:click="sendDetermination(pendingInfo.id, true)">同&nbsp;&nbsp;&nbsp;&nbsp;意</li>
									<li v-on:click="sendDetermination(pendingInfo.id, false)">拒&nbsp;&nbsp;&nbsp;&nbsp;绝</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--间隔 -->
			</div>
		</div>
	</div>
	<div class="zw60 mg2"></div>
</body>

</html>
