<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no" />
    <title>咚咚体育平台</title>
    <link href="/static/css/css.css" rel="stylesheet" />
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/club_profile_control.js"></script>
</head>

<body>
    <div id="nav"></div>
    <div class="head" id="menu"><img align="absmiddle" src="/static/images/menu.png" />我的体育俱乐部</div>
    <div id="vue_info" class="top2" v-cloak>
        <div id="lib_Tab1" class="mgz">
            <div class="lib_Menubox">
                <ul class="xi26">
                    <li id="one1" v-on:click="dealMyClub" class="hover">我的体育俱乐部</li>
                    <li id="one2" v-on:click="dealManagedClub">体育俱乐部管理</li>
                    <!--<li id="one3" v-on:click="dealPendingInfo">体育俱乐部审核</li>-->
                </ul>
            </div>
            <div class="lib_Contentbox" style="min-height:1000px;">
                <div id="con_one_1">
                    <div v-for="club in myClubs">
                        <a v-bind:href="'/Details-club.html?id=' + club.id">
                            <div class="list2 mg2">
                                <!--<div class="list2poster"><img :src="'/static/images/club/'+club.type+'.png'" /></div>-->
                                <div class="list2poster"><img src="/static/images/club/poster.png" /></div>
                                <div class="list2content2">
                                    <div class="list2c mg2 xi26 blk">{{ club.name }}</div>
                                    <div class="list2x mg2">
                                        <div class="list2xb f xi24" style="width:100%">{{ club.motto }}</div>
                                        <div class="list2xc f xi20 list2major">{{ club.major }}</div>
                                        <div class="list2xc f xi20 list2type">{{ club.type }}</div>
                                        <div class="list2xc f xi20"><img align="absmiddle" src="static/images/club/leader.png" />{{ club.leader.name }}发起 </div>
                                    </div>
                                    <div class="list2fix xi18">{{ club.scale }}人加入</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--间隔 -->
                <div id="con_one_2" style="display:none">
                    <div v-for="club in managedClubs">
                        <a v-bind:href="'/Details-club.html?id=' + club.id">
                            <div class="list2 mg2">
                                <div class="list2poster"><img src="/static/images/club/poster.png" /></div>
                                <div class="list2content2">
                                    <div class="list2c mg2 xi26 blk">{{ club.name }}</div>
                                    <div class="list2x mg2">
                                        <div class="list2xc f xi20 list2major">{{ club.major }}</div>
                                        <div class="list2xc f xi20 list2type">{{ club.type }}</div>
                                        <div class="list2xc f xi20"><img align="absmiddle" src="static/images/club/leader.png" />{{ club.leader.name }}发起 </div>
                                        <div class="list2xc f xi24" style="color:red;line-height:50px;line-height:27px;margin-top:10px;">
                                            <!--TODO-->
                                            <img align="absmiddle" src="static/images/club/申请失败.png" />{{ club.major }}
                                            <!--<img align="absmiddle" src="static/images/club/被管理员删除.png" />-->
                                        </div>
                                    </div>
                                    <div class="list2fix xi18">{{ club.scale }}人加入</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--间隔 -->
            </div>
        </div>
    </div>
    <div class="zw60 mg2"></div>
</body>

</html>
