<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no" />
	<title></title>
	<link href="/static/css/css.css" rel="stylesheet" />
	<script src="/static/js/jquery-3.1.1.min.js"></script>
	<script src="/static/js/createclub_control.js"></script>
	<script src="/static/js/vue.js"></script>
</head>

<body>
	<div class="menu"><img align="absmiddle" src="/static/images/activity-club-V2_02.png" /></div>
	<div id="nav"></div>
	<div id="hidden_wrapper">
		<div id="submit_info" v-cloak>
			<div class="clubv2_title mg2 cen"><img align="absmiddle" src="/static/images/activity-club-V2.png" /></div>
			<div class="clubv2s mg2 xi20 bai">俱乐部名称 *<span class="xi15 r">（4-16字）</span></div>
			<div class="clubv2x mg2 cen"><input name="" type="text" class="clubv2_bd1 xi20" placeholder="请在此填写俱乐部名称" v-model="club.name"></div>
			<div class="clubv2s mg2 xi20 bai">俱乐部运动类别 *<span class="xi15 r">（2-8字）</span></div>
			<div class="clubv2x mg2 cen"><input name="" type="text" class="clubv2_bd1 xi20" placeholder="请在此填写俱乐部运动类别" v-model="club.type"></div>
			<div class="clubv2s mg2 xi20 bai">俱乐部所属院系 *</div>
			<div class="clubv2x mg2 cen">
				<select name="" class="bd1_1 xi20 bai" v-model="club.major">
					<option value="建筑学院">建筑学院</option>
					<option value="土木系">土木系</option>
					<option value="水利系">水利系</option>
					<option value="环境学院">环境学院</option>
					<option value="机械系">机械系</option>
					<option value="精仪系">精仪系</option>
					<option value="热能系">热能系</option>
					<option value="汽车系">汽车系</option>
					<option value="工业工程系">工业工程系</option>
					<option value="电机系">电机系</option>
					<option value="电子系">电子系</option>
					<option value="计算机系">计算机系</option>
					<option value="自动化系">自动化系</option>
					<option value="微纳电子系">微纳电子系</option>
					<option value="航天航空学院">航天航空学院</option>
					<option value="工物系">工物系</option>
					<option value="化工系">化工系</option>
					<option value="材料学院">材料学院</option>
					<option value="数学系">数学系</option>
					<option value="物理系">物理系</option>
					<option value="化学系">化学系</option>
					<option value="生命学院">生命学院</option>
					<option value="地学中心">地学中心</option>
					<option value="交叉信息学院">交叉信息学院</option>
					<option value="经管学院">经管学院</option>
					<option value="公管学院">公管学院</option>
					<option value="金融学院">金融学院</option>
					<option value="法学院">法学院</option>
					<option value="新闻学院">新闻学院</option>
					<option value="马克思主义学院">马克思主义学院</option>
					<option value="人文学院">人文学院</option>
					<option value="社科学院">社科学院</option>
					<option value="美术学院">美术学院</option>
					<option value="核研院">核研院</option>
					<option value="教研院">教研院</option>
					<option value="医学院">医学院</option>
					<option value="软件学院">软件学院</option>
					<option value="苏世民书院">苏世民书院</option>
				</select>
			</div>
			<div class="clubv2s mg2 xi20 bai">俱乐部口号 *<span class="xi15 r">（4-16字）</span></div>
			<div class="clubv2x mg2 cen"><input name="" type="text" class="clubv2_bd1 xi20" placeholder="请在此填写俱乐部口号" v-model="club.motto"></div>
			<div class="clubv2s mg2 xi20 bai">备注</div>
			<div class="clubv2x mg2 cen"><input name="" type="text" class="clubv2_bd1 xi20" placeholder="请在此填写备注" v-model="club.remark"></div>
			<div class="clubv2s mg2 xi20 bai">俱乐部简介 *<span class="xi15 r">（50-200字）</span></div>
			<div class="clubv2x mg2 cen"><textarea name="" cols="" rows="" placeholder="请在此填写俱乐部简介" class="clubv2_bd2 xi20" v-model="club.introduction"></textarea></div>
			<div class="clubv2x mg2 cen"><input name="" type="button" class="clubv2_an1 xi20 bai" value="上传俱乐部海报" disabled></div>
			<div class="clubv2x mg2 cen"><input name="" type="button" class="clubv2_an2 xi25 bai" value="申         请" v-bind:disabled="!canSubmit" v-on:click="submitClubInfo"></div>
		</div>
	</div>
</body>

</html>
