<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>咚咚体育平台</title>
    <link href="static/css/css.css" rel="stylesheet"/>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
</head>

<body style="background-color:#f2f2f2;">
    <div id="nav"></div>
    <div class="mg2 head2bg2">
        <img id="menu" class="head2nav" align="absmiddle" src="/static/images/menu.png" />
        <!--<img class="head2bg" align="absmiddle" src="/static/images/detail/club_bg.png" />-->
    </div>
    <div id="clubDetails" v-cloak>
        <div class="profilev2title mg2 xi20">
            <div class="profilev2t2 cen blk" style="padding-bottom:0px;"><span>{{ club.name }}</span></div>
            <div class="profilev2tr cen">
                <p class="mg2 xi24"> 人数：{{ club.scale }}人 </p>
                <p class="mg2 xi30 blk2"> 我们的口号是：{{ club.motto }} </p>
            </div>
            <div class="newbtn2 mg2 xi30 huang" v-if="canJoinOrLogin" v-on:click="joinClubOrLogin">
                <img align="absmiddle" src="/static/images/detail/club_join.png" /> 
                <span>加入俱乐部</span>
            </div>
            <div class="newbtn2 mg2 xi30 huang" v-if="canQuit" v-on:click="quitClub">
                <img align="absmiddle" src="/static/images/detail/club_quit.png" /> 
                <span>退出俱乐部</span>
            </div>
            <div style="padding:0 40px">
                <a class="newbtn3 mg2 xi30 cen" style="border-color:#f54336; color:#f54336;" v-if="canDelete" :src="'/delete-club.html?id=' + club.id">
                    <p>删除俱乐部</p>
                </a>
                <!--TODO:更新负责人-->
                <a class="newbtn3 mg2 xi30 cen" style="border-color:#3fbf46; color:#3fbf46;" v-if="canDelete">
                    <p>更新负责人</p>
                </a>
            </div>
        </div>
        <div class="profilev2c mg2">
            <div class="profilev2ch">
                <img style="padding:8px;" align="absmiddle" src="/static/images/detail/club_id.png" />
                <span>编号：</span>
                <span class="blk2"> {{ club.id }} </span>
            </div>
            <div class="profilev2ch">
                <img style="padding:8px;" align="absmiddle" src="/static/images/detail/activity_number.png" />
                <span>发起人：</span>
                <span class="blk2">{{ club.leader.name }}，{{ club.leader.major }}，{{ club.leader.phone }} </span>
            </div>
            <div class="profilev2ch">
                <img style="padding:8px;" align="absmiddle" src="/static/images/detail/activity_major.png" />
                <span>所属院系：</span>
                <span class="blk2">{{ club.major }}</span>
            </div>
            <div class="profilev2ch">
                <img style="padding:8px;" align="absmiddle" src="/static/images/detail/activity_type.png" />
                <span>运动类别：</span>
                <span class="blk2">{{ club.type }}</span>
            </div>
            <div class="profilev2ch" style="border:none;">
                <img style="padding:8px;" align="absmiddle" src="/static/images/detail/club_remark.png" />
                <span>备注：</span>
                <span class="blk2"> {{club.remark==='' ? '暂无' : club.remark }} </span>
            </div>
        </div>
        <div class="profilev2c mg2 blk2">
            <div class="profilev2ch">
                <img align="absmiddle" src="/static/images/detail/activity_intro.png" />
                <span class="xi30">俱乐部简介</span>
            </div>
            <div class="profilev2cb">
                <p class="profilev2cbx mg2">{{ club.introduction == '' ? '暂无' : club.introduction }}</p>
            </div>
        </div>
        <div class="profilev2c mg2 blk2">
            <div class="profilev2cb">
                <p class="profilev2cbx mg2 cen xi30">俱乐部成员（{{ club.scale }}）</p>
            </div>
            <div class="profilev2list clearfix">
                <div class="profilev2listi f" v-on:click="showPersonalInfo(club.leader.id)">
                    <div class="profilev2listl cen">
                        <img align="absmiddle" src="/static/images/xiaoyan.jpeg" width="56" height="56" />
                    </div>
                    <div class="cen" style="margin-top:-31px">
                        <img align="absmiddle" src="/static/images/detail/activity_leader.png"  />
                    </div>
                    <div class="profilev2listr cen">
                        <span class="">{{ club.leader.name }}</span>
                        <img v-if="club.leader.sex=='男'" align="absmiddle" src="/static/images/detail/sex_male2.png" />
                        <img v-if="club.leader.sex=='女'" align="absmiddle" src="/static/images/detail/sex_female2.png" />
                    </div>
                    <div class="profilev2listr cen">
                        <span>{{ club.leader.major }}</span>
                    </div>
                </div>
                <div class="profilev2listi f" v-for="manager in club.managers" v-on:click="showPersonalInfo(manager.id)">
                    <div class="profilev2listl cen">
                        <img align="absmiddle" src="/static/images/xiaoyan.jpeg" width="56" height="56" />
                    </div>
                    <div class="profilev2listr cen">
                        <span class="">{{ manager.name }}</span>
                        <img v-if="manager.sex=='男'" align="absmiddle" src="/static/images/detail/sex_male2.png" />
                        <img v-if="manager.sex=='女'" align="absmiddle" src="/static/images/detail/sex_female2.png" />
                    </div>
                    <div class="profilev2listr cen">
                        <span>{{ manager.major }}</span>
                    </div>
                </div>
                <div class="profilev2listi f" v-for="member in club.members" v-on:click="showPersonalInfo(member.id)">
                    <div class="profilev2listl cen">
                        <img align="absmiddle" src="/static/images/xiaoyan.jpeg" width="56" height="56" />
                    </div>
                    <div class="profilev2listr cen">
                        <span class="">{{ member.name }}</span>
                        <img v-if="member.sex=='男'" align="absmiddle" src="/static/images/detail/sex_male2.png" />
                        <img v-if="member.sex=='女'" align="absmiddle" src="/static/images/detail/sex_female2.png" />
                    </div>
                    <div class="profilev2listr cen">
                        <span>{{ member.major }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/Details-club_control.js"></script>
</body>
</html>
