<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>咚咚体育平台</title>
    <link href="/static/css/css.css" rel="stylesheet" />
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/vue.js"></script>
</head>

<body style="background-color:#f2f2f2;">
    <div id="nav"></div>
    <div class="mg2">
        <img id="menu" class="head2nav" align="absmiddle" src="/static/images/menu.png" />
        <img class="head2bg" align="absmiddle" src="/static/images/detail/activity_bg.png" />
    </div>
    <div id="activityDetails" v-cloak>
        <div class="newbtn" style="width:200px; background-color:#ff6a00" v-if="canJoinOrLogin" v-on:click="joinActivityOrLogin">
            <img src="/static/images/ground/new.png" />
            <span>加入运动</span>
        </div>
        <div class="newbtn" style="width:200px; background-color:#ff6a00" v-if="canQuit" v-on:click="quitActivity">
            <img src="/static/images/detail/club_quit.png" />
            <span>退出运动</span>
        </div>
        <div class="newbtn" style="width:200px; background-color:#ff6a00" v-if="canDelete" v-on:click="deleteActivity">
            <img src="/static/images/ground/new.png" />
            <span>取消运动</span>
        </div>
        <div class="profilev2title mg2 xi20" v-on:click="showPersonalInfo(activity.leader.id)">
            <div class="profilev2t blk"><span>{{ activity.name }}</span></div>
            <div class="profilev2tl f"><img align="absmiddle" src="/static/images/xiaoyan.jpeg" /></div>
            <div class="profilev2tr f blk2">
                <p class="mg2 xi26"> 运动发起人：{{ activity.leader.name }}，{{ activity.leader.major }} </p>
                <p class="mg2 xi26"> TEL：{{ activity.leader.phone }} </p>
            </div>
        </div>
        <div class="profilev2c mg2">
            <div class="profilev2ch">
                <img style="padding:8px;" align="absmiddle" src="/static/images/detail/activity_time.png" />
                <span>活动时间：</span>
                <span class="blk2">{{ activity.duringTime.year }}-{{ activity.duringTime.month }}-{{ activity.duringTime.day }} {{ activity.duringTime.shour }}:{{ ((10>activity.duringTime.sminute)?'0':'') + activity.duringTime.sminute }}-{{ activity.duringTime.shour + activity.duringTime.hour + Math.floor((activity.duringTime.sminute+activity.duringTime.minute)/60) }}:{{ ((10>(activity.duringTime.sminute+activity.duringTime.minute)%60)?'0':'') + (activity.duringTime.sminute+activity.duringTime.minute)%60 }} </span>
            </div>
            <div class="profilev2ch">
                <img style="padding:8px;" align="absmiddle" src="/static/images/detail/activity_duration.png" />
                <span>持续时间：</span>
                <span class="blk2">{{ activity.duringTime.hour>0 ? activity.duringTime.hour+'小时' : '' }}{{ (activity.duringTime.minute>0) ? activity.duringTime.minute+'分钟' : '' }}</span>
            </div>
            <div class="profilev2ch">
                <img style="padding:8px;" align="absmiddle" src="/static/images/detail/activity_address.png" />
                <span>运动地点：</span>
                <span class="blk2">{{ activity.address }}</span>
            </div>
            <div class="profilev2ch">
                <img style="padding:8px;" align="absmiddle" src="/static/images/detail/activity_number.png" />
                <span>参与人数：</span>
                <span class="blk2">已报名{{ activity.participantsSum }}人（人数限制{{ activity.capacity }}）</span>
            </div>
            <div class="profilev2ch" v-if="activity.filterMajors.length!==0 && activity.filterMajors!==undefined">
                <img style="padding:8px;" align="absmiddle" src="/static/images/detail/activity_major.png" />
                <span>开放院系：</span>
                <span class="blk2">{{ activity.filterMajors.join(',') }}</span>
            </div>
            <div class="profilev2ch" style="border:none;">
                <img style="padding:8px;" align="absmiddle" src="/static/images/detail/activity_type.png" />
                <span>运动类别：</span>
                <span class="blk2">{{ activity.type[0] }}</span>
            </div>
        </div>
        <div class="profilev2c mg2 blk2">
            <div class="profilev2ch">
                <img align="absmiddle" src="/static/images/detail/activity_intro.png" />
                <span class="xi30">运动简介</span>
            </div>
            <div class="profilev2cb">
                <p class="profilev2cbx mg2">{{ activity.introduction == '' ? '暂无' : activity.introduction }}</p>
            </div>
        </div>
        <div class="profilev2c mg2 blk2">
            <div class="profilev2cb">
                <span class="profilev2cbx mg2 cen xi30" style="position:absolute;width:40%;left:30%;">参与者（{{ activity.participantsSum }}/{{ activity.capacity }}）</span>
                <!--TODO:加入聊天-->
                <a :href="'/join-chat.html?id=' + activity.id" class="profilev2cbx r" style="position:absolute;right:30px;">
                    <img align="absmiddle" src="/static/images/detail/activity_talk.png" />
                    <span>加入聊天</span>
                </a>
            </div>
            <div class="profilev2list clearfix">
                <div class="profilev2listi f" v-on:click="showPersonalInfo(activity.leader.id)">
                    <div class="profilev2listl cen">
                        <img align="absmiddle" src="/static/images/xiaoyan.jpeg" width="56" height="56" />
                    </div>
                    <div class="cen" style="margin-top:-31px">
                        <img align="absmiddle" src="/static/images/detail/activity_leader.png"  />
                    </div>
                    <div class="profilev2listr cen">
                        <span class="">{{ activity.leader.name }}</span>
                        <img v-if="activity.leader.sex=='男'" align="absmiddle" src="/static/images/detail/sex_male2.png" />
                        <img v-if="activity.leader.sex=='女'" align="absmiddle" src="/static/images/detail/sex_female2.png" />
                    </div>
                    <div class="profilev2listr cen">
                        <span>{{ activity.leader.major }}</span>
                    </div>
                </div>
                <div class="profilev2listi f" v-for="participant in activity.participants" v-on:click="showPersonalInfo(participant.id)">
                    <div class="profilev2listl cen">
                        <img align="absmiddle" src="/static/images/xiaoyan.jpeg" width="56" height="56" />
                    </div>
                    <div class="profilev2listr cen">
                        <span class="">{{ participant.name }}</span>
                        <img v-if="participant.sex=='男'" align="absmiddle" src="/static/images/detail/sex_male2.png" />
                        <img v-if="participant.sex=='女'" align="absmiddle" src="/static/images/detail/sex_female2.png" />
                    </div>
                    <div class="profilev2listr cen">
                        <span>{{ participant.major }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/Details-activity_control.js"></script>
</body>

</html>
