<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no"/>
    <title></title>
    <link href="static/css/css.css" rel="stylesheet"/>
    <script type="text/javascript" language="javascript" src="/static/js/vue.js"></script>
    <script src="static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/Details-club_control.js"></script>
</head>

<body>
<style>
    body {
        background: #ffffff;
    }
</style>
<div class="menu"><img align="absmiddle" src="static/images/profile-edit_02.png"/></div>
<div id="nav"></div>
<div id="hidden_wrapper">
    <div id="clubDetails" v-cloak>
        <div class="profilev2_title mg2 xi20"><a href="#">俱乐部详情</a></div>
        <div class="details1 mgz">
            <div class="details1l f"><img align="absmiddle" src="static/images/xiaoyan.jpeg"/></div>
            <div class="details1r f">
                <div class="details1rs mg2 xi31 zi">{{ club.leader.name }}</div>
                <div class="details1rx mg2 xi17">
                    <img align="absmiddle" src="static/images/Details-club_05.png"/>{{ club.leader.major }}
                    <img align="absmiddle" src="static/images/Details-club_07.png"/>{{ club.leader.phone }}
                    <img align="absmiddle" src="static/images/Details-club_09.png"/>俱乐部负责人
                </div>
            </div>
        </div>
        <div class="details2 mgz"><img align="absmiddle" src="static/images/Details-club_14.jpg" width="640"/>
            <div class="details2s"><a href="#"><img align="absmiddle" src="static/images/Details-club_03.png"/></a>
            </div>
        </div>
        <div class="details3 mgz"></div>
        <div class="details3 mgz">
            <div class="details3z1 mgz">
                <div class="details3z1l f"><img align="absmiddle" src="static/images/Details-club_17.png"/></div>
                <div class="details3z1r f xi20">俱乐部信息</div>
            </div>
        </div>
        <div class="details3 mgz">
            <div class="details3z2 mg2 xi30 zi">{{ club.name }}</div>
        </div>
        <div class="details3 mgz">
            <div class="details3z3 mgz">
                <div class="details3z3l f"><img align="absmiddle" src="static/images/Details-club_22.png"/></div>
                <div class="details3z3r f xi20"><span class="cu">俱乐部口号：</span>{{ club.motto }}</div>
            </div>
            <div class="details3z3 mgz">
                <div class="details3z3l f"><img align="absmiddle" src="static/images/Details-club_25.png"/></div>
                <div class="details3z3r f xi20"><span class="cu">俱乐部编码：</span>{{ club.id }}</div>
            </div>
            <div class="details3z3 mgz">
                <div class="details3z3l f"><img align="absmiddle" src="static/images/Details-club_27.png"/></div>
                <div class="details3z3r f xi20"><span class="cu">俱乐部人数：</span>{{ club.scale }}人</div>
            </div>
            <div class="details3z3 mgz">
                <div class="details3z3l f"><img align="absmiddle" src="static/images/Details-club_29.png"/></div>
                <div class="details3z3r f xi20"><span class="cu">俱乐部运动类别：</span>{{ club.type }}</div>
            </div>
            <div class="details3z3 mgz">
                <div class="details3z3l f"><img align="absmiddle" src="static/images/Details-club_31.png"/></div>
                <div class="details3z3r f xi20"><span class="cu">俱乐部所属院系：</span>{{ club.major }}</div>
            </div>
            <div class="details3z3 mgz">
                <div class="details3z3l f"><img align="absmiddle" src="static/images/Details-club_33.png"/></div>
                <div class="details3z3r2 f xi20"><span class="cu">备注：</span>{{ club.remark }}</div>
            </div>
        </div>
        <div class="details3 mgz">
            <div class="details3z1 mgz">
                <div class="details3z1l f"><img align="absmiddle" src="static/images/Details-club_37.png"/></div>
                <div class="details3z1r f xi20">俱乐部简介</div>
            </div>
        </div>
        <div class="details3 mgz">
            <div class="details3z3 mgz">
                <div class="details3z3l f"><img align="absmiddle" src="static/images/Details-club_22.png"/></div>
                <div class="details3z3r3 f xi20">
                    {{ club.introduction }}
                </div>
            </div>
        </div>
        <div class="details3 mgz">
            <div class="details3z1 mgz">
                <div class="details3z1l f"><img align="absmiddle" src="static/images/Details-club_40.png"/></div>
                <div class="details3z1r f xi20">点击右上角分享给朋友或分享到朋友圈</div>
            </div>
        </div>
        <div class="details3 mgz">
            <div class="details3z4 mg2">
                <ul>
                    <li v-if="canJoinOrLogin" v-on:click="joinClubOrLogin">
                        <div class="details3z4s mg2">
                            <a href="#">
                                <img align="absmiddle" src="static/images/Details-club_43.png"/>
                            </a>
                        </div>
                        <div class="details3z4x mg2 xi15 cen">加入俱乐部</div>
                    </li>
                    <li v-if="canQuit" v-on:click="quitClub">
                        <div class="details3z4s mg2">
                            <a href="#">
                                <img align="absmiddle" src="static/images/Details-club2_43.png"/>
                            </a>
                        </div>
                        <div class="details3z4x mg2 xi15 cen">退出俱乐部</div>
                    </li>
                    <li v-if="canDissolve" v-on:click="dissolveClub">
                        <div class="details3z4s mg2">
                            <a href="#">
                                <img align="absmiddle" src="static/images/Details-club2_43.png"/>
                            </a>
                        </div>
                        <div class="details3z4x mg2 xi15 cen">解散俱乐部</div>
                    </li>
                    <li>
                        <div class="details3z4s mg2">
                            <a href="#">
                                <img align="absmiddle" src="static/images/Details-club_45.png"/>
                            </a>
                        </div>
                        <div class="details3z4x mg2 xi15 cen">运动补给</div>
                    </li>
                    <li>
                        <div class="details3z4s mg2">
                            <a href="#">
                                <img align="absmiddle" src="static/images/Details-club_47.png"/>
                            </a>
                        </div>
                        <div class="details3z4x mg2 xi15 cen">运动分享</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="details3 mgz">
            <div class="details3z1 mgz">
                <div class="details3z1l f"><img align="absmiddle" src="static/images/Details-club_52.png"/></div>
                <div class="details3z1r f xi20">俱乐部成员<span class="r">{{ club.scale }}人</span></div>
            </div>
        </div>
        <div class="details3 mgz">
            <div class="details3z5">
                <div class="details3z5_list mg2" v-bind:id="club.leader.id" v-on:click="showPersonalInfo($event)">
                    <div class="details3z5_listl f">
                        <img align="absmiddle" src="static/images/xiaoyan.jpeg" width="56" height="56"/>
                    </div>
                    <div class="details3z5_listr f">
                        <div class="details3z5_listrs mg2 xi17">
                            <span class="xi20 zi">{{ club.leader.name }}</span>
                            <img align="absmiddle" src="static/images/Details-club_56.png"/>俱乐部负责人
                        </div>
                        <div class="details3z5_listrx mg2 xi15">{{ club.leader.introduction }}</div>
                    </div>
                </div>
                <div v-for="manager in club.managers">
                    <div class="details3z5_list mg2" v-bind:id="manager.id" v-on:click="showPersonalInfo($event)">
                        <div class="details3z5_listl f">
                            <img align="absmiddle" src="static/images/xiaoyan.jpeg" width="56" height="56"/>
                        </div>
                        <div class="details3z5_listr f">
                            <div class="details3z5_listrs mg2 xi17">
                                <span class="xi20 zi">{{ manager.name }}</span>
                                <img align="absmiddle" src="static/images/Details-club_56.png"/>俱乐部管理员
                            </div>
                            <div class="details3z5_listrx mg2 xi15">{{ manager.introduction }}</div>
                        </div>
                    </div>
                </div>
                <div v-for="member in club.members">
                    <div class="details3z5_list mg2" v-bind:id="member.id" v-on:click="showPersonalInfo($event)">
                        <div class="details3z5_listl f">
                            <img align="absmiddle" src="static/images/xiaoyan.jpeg" width="56" height="56"/>
                        </div>
                        <div class="details3z5_listr f">
                            <div class="details3z5_listrs mg2 xi17"><span class="xi20 zi">{{ member.name }}</span></div>
                            <div class="details3z5_listrx mg2 xi15">{{ member.introduction }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="details4 mgz"><img align="absmiddle" src="static/images/Details-club_59.jpg"/></div>
</body>
</html>
