<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no" />
<title></title>
<link href="/static/css/css.css" rel="stylesheet" />
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/vue.js"></script>
<script src="/static/js/login_control.js"></script>
</head>

<body>
<style>
body,html{ width:100%; height:100%;}
</style>
<div id="hidden_wrapper">
	<div id="login" v-cloak>
		<div class="logins cen"><input class="an1">
			<div class="loginsx mgz cen xi20 bai" v-if="error">学号或密码错误</div>
		</div>
		<div class="loginx">
			<div class="loginxs mgz cen"><input name="" type="text" class="bd1 bai" placeholder="学号" v-model="userid"></div>
			<div class="loginxs mgz cen"><input name="" type="password" class="bd2 bai" placeholder="密码" v-model="passwd"></div>
            <div class="loginxs mgz cen" style="background: #fcfbf7;" v-on:click="submit_info"><span style="height: 77px;line-height: 77px;" class="zi" >登录</span></div>
			<div class="loginxx mgz cen xi20 bai">仅清华大学师生通过info账号密码认证使用</div>
		</div>
	</div>
</div>
</body>
</html>
