<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>咚咚体育平台</title>
    <link href="/static/css/css.css" rel="stylesheet" />
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/vue.js"></script>
</head>

<body>
    <div id="nav"></div>
    <div class="head blk2"><img id="menu" class="head2nav" align="absmiddle" src="/static/images/menu.png" />用户管理</div>
    <div id="manage_user_detail" class="top2" v-cloak>
        <div id="lib_Tab1" class="mgz">
            <div class="xi24" style="background:#fff;padding:25px;">
                <div class="list4 mg2">
                    <div class="list4c">
                        <div class="list4cx mg2 xi32"><p class="f blk">{{ user.name }}</p></div>
                        <div class="list4cx mg2 xi24"><span class="f">学号：</span><span class="f blk2">{{ user.id }}</span></div>
                        <div class="list4cx mg2 xi24"><span class="f">院系：</span><span class="f blk2">{{ user.major }}</span></div>
                        <div class="list4cx mg2 xi24" v-if="user.email != ''"><span class="f">邮箱：</span><span class="f blk2">{{ user.email }}</span></div>
                        <div class="list4cx mg2 xi24" v-if="user.phone != ''"><span class="f">电话：</span><span class="f blk2">{{ user.phone }}</span></div>
                        <div class="list4cx mg2 xi24" v-if="user.tag != ''"><span class="f">兴趣：</span><span class="f blk2">{{ user.tag }}</span></div>
                        <div class="list4cx mg2 xi24" v-if="user.introduction != ''"><span class="f">介绍：</span><span class="f blk2">{{ user.introduction }}</span></div>
                    </div>
                </div>
                <div class="input_s mg2">
                    <div class="clubv2s mg2 xi24">当前身份：</div>
                    <div class="clubv2x mg2 cen">
                        <select name="" class="clubv2_bd1 xi24" v-model="level">
                            <option :value="0">普通用户</option>
                            <option :value="1">院系管理员</option>
                            <option :value="3">超级管理员</option>
                        </select>
                    </div>
                </div>
                <p class="newbtn3 mg2 xi30 cen" style="width:calc(100% - 24px);border-color:#ff6a00; color:#ff6a00;" v-on:click="changeState">
                    修改
                </p>
            </div>
            <div class="lib_Contentbox" style="min-height:800px;">
                <div class="list2 mg2" v-for="activity in activitys">
                    <a href="#" v-bind:id="activity.id" v-on:click="showActivityInfo(activity.id)">
                        <div class="list2icon"><img :src="'static/images/ground/'+toImageName(activity.type[0])+'.png'" width="60px" height="60px"/></div>
                        <div class="list2content">
                            <div class="list2c mg2 xi28 blk">
                                {{ activity.name }}
                            </div>
                            <div class="list2x mg2">
                                <div class="list2xc f xi20"><img align="absmiddle" src="/static/images/ground/address.png" />{{ activity.address }}</div>
                                <div class="list2xc f xi20">
                                    <img src="/static/images/ground/time.png" />
                                    {{ activity.duringTime.year }}年{{ activity.duringTime.month }}月{{ activity.duringTime.day }}日 {{ activity.duringTime.shour }}:{{ ((10>activity.duringTime.sminute)?'0':'') + activity.duringTime.sminute }}-{{ ((activity.duringTime.hour + activity.duringTime.shour) >= 24)?"次日":"" }}{{ (activity.duringTime.hour + activity.duringTime.shour + (((activity.duringTime.minute + activity.duringTime.sminute)>=60)?1:0)) % 24 }}:{{ ((10>((activity.duringTime.minute + activity.duringTime.sminute)%60))?'0':'') + ((activity.duringTime.minute + activity.duringTime.sminute) % 60) }} 
                                </div>
                                <div class="list2xc f xi20" style="clear:both;"><img align="absmiddle" src="/static/images/ground/leader.png" />{{ activity.leader.name }}发起 </div>
                                <div class="list2xc f xi20"><span class="huang f">{{ activity.participantsSum }}</span>人已报名（人数限制{{ activity.capacity }} ）</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/manage-user-detail_control.js"></script>
</body>

</html>
