<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>咚咚体育平台</title>
    <link href="/static/css/css.css" rel="stylesheet" />
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/vue.js"></script>
</head>

<body style="background-color:#f2f2f2;">
    <div id="nav"></div>
    <div class="mg2">
        <img id="menu" class="head2nav" align="absmiddle" src="/static/images/menu-white.png" />
        <img class="head2bg" align="absmiddle" src="/static/images/detail/person_bg.png" />
    </div>
    <div id="userInfo" v-cloak>
        <div class="profilev2title mg2 xi20">
            <div class="cen" style="margin-bottom:100px;">
                <img class="profilev2icon" align="absmiddle" src="/static/images/xiaoyan.jpeg" />
                <img class="profilev2sex" align="absmiddle" src="/static/images/detail/sex_male.png" />
            </div>
            <div class="cen xi36 blk">{{ user.name }}</div>
            <div class="cen xi26">{{ user.major }}</div>
        </div>
        <div class="profilev2c mg2">
            <div class="profilev2ch">
                <img style="padding:8px 0;" align="absmiddle" src="/static/images/detail/card.png" />
                <span>个人信息</span>
                <a href="/setprofile.html" class="r" v-if="user.is_this_person">
                    <span>编辑</span>
                    <img style="padding:16px 0;" align="absmiddle" src="/static/images/detail/edit.png" />
                </a>
            </div>
            <div class="profilev2cb">
                <div class="profilev2cbx mg2"><span class="l">学号：</span><span class="l blk">{{ user.id }}</span></div>
                <div class="profilev2cbx mg2" v-if="is_full"><span class="l">电话：</span><span class="l blk">{{ user.phone }}</span></div>
                <div class="profilev2cbx mg2" v-if="is_full"><span class="l">邮箱：</span><span class="l blk">{{ user.email }}</span></div>
                <div class="profilev2cbx mg2" v-if="user.tag !== ''"><span class="l">兴趣：</span><span class="l blk">{{ user.tag }}</span></div>
                <div class="profilev2cbx mg2" v-if="user.introduction !== ''"><span class="l">个人描述：</span><span class="l blk">{{ user.introduction }}</span></div>
            </div>
        </div>
        <div class="profilev2c mg2" v-if="user.is_this_person">
            <div class="profilev2ch">
                <img style="padding:8px 0;" align="absmiddle" src="/static/images/detail/medal.png" />
                <span>运动成就</span>
                <a href="/showMedal.html" class="r">
                    <img style="padding:16px 0;" align="absmiddle" src="/static/images/detail/edit.png" />
                </a>
            </div>
        </div>
    </div>
    <script src="/static/js/userInfo_control.js"></script>
</body>

</html>
