<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no" />
	<title>咚咚体育平台</title>
	<link href="/static/css/css.css" rel="stylesheet" />
	<script src="/static/js/jquery-3.1.1.min.js"></script>
	<script src="/static/js/vue.js"></script>
	<script type="text/javascript" language="javascript" src="/static/js/userInfo_control.js"></script>
</head>

<body>
	<style>
		body {
			background: #f8f8f8;
		}
	</style>
	<div class="menu"><img align="absmiddle" src="/static/images/profile-edit_02.png" /></div>
	<div id="nav"></div>
	<div id="userInfo" v-cloak>
		<div class="profilev2_title mg2 xi20"><a href="#">个人主页</a></div>
		<div class="profilev2s mg2 cen">
			<div class="profilev2ss mg2 huang">{{ user.times | lspace }}</div>
			<div class="profilev2sx mg2 zi" v-if="user.is_this_person"><a href="/setprofile.html">修改</a></div>
		</div>
		<div class="profilev2c mg">
			<div class="profilev2cl f"><img align="absmiddle" src="/static/images/xiaoyan.jpeg" width="200" height="200" /></div>
			<div class="profilev2cr f">
				<div class="profilev2crs mg2 xi20"><span class="xi31 zi">{{ user.name }}</span>{{ user.sex }}</div>
				<div class="profilev2crx mg2 xi17">学院：{{ user.major }}</div>
				<div class="profilev2crx mg2 xi17">学号：{{ user.id }}</div>
				<div class="profilev2crx mg2 xi17" v-if="is_full">电话：{{ user.phone }}</div>
				<div class="profilev2crx mg2 xi17" v-if="is_full">邮箱：{{ user.email }}</div>
				<div class="profilev2crx mg2 xi17" v-if="user.tag !== ''">兴趣：{{ user.tag }}</div>
			</div>
		</div>
		<div class="profilev2x mg xi30 cen bai" v-if="user.introduction !== ''">{{ user.introduction }}</div>
	</div>
</body>

</html>
